<!DOCTYPE html>
<html>
<head>
  <title>IVR Adventure</title>
  
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "spacelab", :media => "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
	  <%= link_to "IVR Adventure", root_path, {class: "navbar-brand"} %>
	</div>
    <%= form_tag show_story_path, method: "get", class: "navbar-form navbar-right" do %>
	    <div class="form-group">
	      <input name="story_id" type="text" class="form-control" placeholder="4-digit story id">
        </div>
	    <button class="btn btn-primary">edit story</button>
    <% end %>
    <%= form_tag new_story_path, method: "get", class: "navbar-form navbar-right" do %>
	    <div class="form-group">
	      <input name="story_name" type="text" class="form-control" placeholder="story name">
        </div>
	    <button class="btn btn-primary">create story</button>
    <% end %>
  </div>
</nav>

<% if flash[:error] %>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
	</div>
	<div class="col-md-1"></div>
</div>
<% end %>

<%= yield %>

</body>
</html>